.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 10px
}
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Shadows+Into+Light&display=swap');
.paragraph p{
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    width: 50%;
}

.paragraphTwo p{
    font-family: 'Shadows Into Light', cursive;
    font-size:2em;

}

.paragraph{
    padding-left: 15%;

}

.paragraphTwo{
    padding: 5%;
    padding-left: 50%;
}

