.container{
    display:flex;
    flex-direction: column;

}

.details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-weight: 100;
    letter-spacing: 0.1em;
    color:#2C365E;

}

.date{
    color: #2C365E;
    font-family: 'Times New Roman', Times, serif;
}

.media{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #F7F7F8;
    align-items: center;
}



@media screen and (max-width: 1000px)
{
   .media{
    flex-direction: column;
   }
}

@media screen and (max-width: 500px) {

    .video{
        display: none;
    }

}

.paragraph{
    text-align: center;
    color: #2C365E;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    padding: 30px 10px;
}